<h2>Students</h2>
<ul class="student-list" fxLayout="column" fxLayoutGap="16px">
  <!-- רשימת התלמידים -->
   @for( student of students; track student.id ){
  <li fxLayout="column" fxLayoutGap="8px">
    <mat-card>
      <mat-card-title>{{ student.name }}</mat-card-title>
      <mat-card-content>
        <p>Grade: {{ student.grade }}</p>
      </mat-card-content>
      <mat-card-actions fxLayout="row" fxLayoutAlign="space-between center">
        <button mat-raised-button color="warn" (click)="this.studentRemoving = student.id">Remove</button>
        <button mat-raised-button color="primary" (click)="this.studentResetting = student.id">Reset</button>
      </mat-card-actions>
    </mat-card>

    <!-- רכיב לעריכת תלמיד -->
     @if(studentResetting === student.id){
    <div >
      <app-student-details [student]="student" (studentNewDetails)="changeStudentDetails($event)"></app-student-details>
    </div>
}
  </li>
}
</ul>

<!-- כפתור הוספת תלמיד -->
<button mat-fab color="accent" class="add-button" (click)="this.studentAdding = true">
  <mat-icon>add</mat-icon>
</button>

<!-- רכיב להוספת תלמיד -->
 @if(studentAdding){
<div>
  <app-student-details [student]="emptyStudent" (studentNewDetails)="addStudentDetails($event)"></app-student-details>
</div>
 }

<!-- הודעת אישור למחיקה -->
 @if(studentRemoving !== -1){
    <app-information-card #remove>
        <div header>
            <h2>Alert⚠️</h2>
        </div>
        <div body>
            <p>Are you sure you want to permanently delete the student?</p>
        </div>
        <div footer>
            <button mat-raised-button color="warn" (click)="removeStudent()">Ok</button>
            <button mat-raised-button (click)="this.studentRemoving = -1">Cancel</button>
        </div>
    </app-information-card>
 }
