
<h3>Enter new details:</h3>
<label for="firstName">First name</label>
<input #fn type="text" [value]="student.firstName" name="firstName" >
<label for="lastName">Last name</label>
<input #ln type="text" [value]="student.lastName" name="lastName" >
<label for="grade">Grade</label>
<input #grade type="number" [value]="student.grade" name="grade" >
<label for="adress">Adress</label>
<input #adress type="text" [value]="student.adress" name="adress" >
<label for="phone">Phone number</label>
<input #phone type="text" [value]="student.phoneNumber" name="phone" >
<label for="avg">Score average</label>
<input #avg type="number" [value]="student.scoreAvg" name="avg" >
<label for="active">Active?</label>
<input #active type="checkbox" [checked]="student.isActive"  name="active" (change)="handleChange(active.checked)">
@if(!student.isActive){
    <label for="Leaving_Date">Leaving Date</label>
    <input #dateLeft type="date" [value]="convertDatToString(student.leaveDate)" name="Leaving_Date"  >
}


<button 
(click)="saveDetails(fn.value,ln.value, grade.value,adress.value,phone.value,avg.value,active.checked)">save</button> 
