<h2>Teachers</h2>

<ul class="teacher-list" fxLayout="column" fxLayoutGap="16px">
  @for(teacher of teachers; track teacher.id){
  <li [noClass]="teacher.classId.length===0" fxLayout="column" fxLayoutGap="8px">
    <mat-card>
      <mat-card-title>{{ teacher.name }}</mat-card-title>
      <mat-card-content>
        <p>Classes: {{teacher.classId}}</p>
      </mat-card-content>
      <mat-card-actions>
        <button mat-raised-button color="warn" (click)="this.teacherRemoving = teacher.id">
          Remove
        </button>
      </mat-card-actions>
    </mat-card>
  </li>
  }
</ul>

<button mat-fab color="accent" class="add-button" (click)="openDialog()">
  <mat-icon>add</mat-icon>
</button>

@if(teacherRemoving != -1){
<app-information-card #remove>
  <div header>
    <h2>Alert ⚠️</h2>
  </div>
  <div body>
    <p>Are you sure you want to permanently delete the teacher?</p>
  </div>
  <div footer>
    <button mat-raised-button color="warn" (click)="removeTeacher()">Ok</button>
    <button mat-raised-button (click)="this.teacherRemoving = -1">Cancel</button>
  </div>
</app-information-card>
}
