<div class="container">
<h3>Enter Details</h3>

<mat-form-field appearance="outline">
  <mat-label>Name</mat-label>
  <input matInput #name type="text" name="name" >
</mat-form-field>

<p>Classes:</p>
<mat-form-field appearance="outline" >
  <mat-label>Select Classes</mat-label>
  <mat-select [(ngModel)]="teacherClasses" name="classes" multiple>
    @for(class of data.classes; track class){
      <mat-option [value]="class">{{ class }}</mat-option>
    }
  </mat-select>
</mat-form-field>

<div class="dialog-actions">
  <button mat-raised-button color="primary" (click)="saveDetails(name.value)">Save</button>
  <button mat-button (click)="dialogRef.close()">Cancel</button>
</div>
</div>
