<div class="sidebar">
    <h2>Enter User Details</h2>
    <form [formGroup]="userForm" (ngSubmit)="onSubmit()">
      <label for="name">Name:</label>
      <input id="name" formControlName="name" />
  
      <label for="role">Role:</label>
      <select id="role" formControlName="role">
        <option value="director">director</option>
        <option value="teacher">teacher</option>
        <option value="secretary">secretary</option>
        <option value="student">student</option>
      </select>
  
      <label for="email">Email:</label>
      <input id="email" formControlName="email" />
  
      <label for="password">Password:</label>
      <input id="password" formControlName="password" type="password" />
  
      <button mat-raised-button type="submit" [disabled]="!userForm.valid">Save</button>
    </form>
  </div>
  