<div style="height: 10vh;">
  <mat-toolbar color="primary">
    <mat-toolbar-row class="navbar">
      <button mat-icon-button fxShow fxHide.gt-sm>
        <mat-icon>menu</mat-icon>
      </button>

      <div fxFlex fxShow fxHide.lt-md>
        <a routerLink="/students" mat-button>Students</a>
        <a routerLink="/teachers" mat-button>Teachers</a>
        <a routerLink="/products" mat-button>Products</a>
      </div>

      <div fxFlex fxLayoutAlign="end center">
        @if(!authService.isAuth){
        <a routerLink="/login" mat-button>Login</a>
        <a routerLink="/register" mat-button>Sign up</a>
        }
        @else {
        <button mat-button (click)="logout()">Log out</button>
        }
      </div>
    </mat-toolbar-row>
  </mat-toolbar>
</div>
<router-outlet></router-outlet>