<div style="height: 10vh;">
  <mat-toolbar color="primary">
    <mat-toolbar-row class="navbar">
      <!-- כפתור התפריט (מוצג רק במסכים קטנים) -->
      <button mat-icon-button fxShow fxHide.gt-sm>
        <mat-icon>menu</mat-icon>
      </button>

      <!-- קישורים (מוצגים רק במסכים בינוניים ומעלה) -->
      <div fxFlex fxShow fxHide.lt-md>
        <a routerLink="/students" mat-button>Students</a>
        <a routerLink="/teachers" mat-button>Teachers</a>
      </div>

      <!-- כפתור Login (יישור לצד ימין) -->
      <div fxFlex fxLayoutAlign="end center">
        <a routerLink="/login" mat-button>Login</a>
      </div>
    </mat-toolbar-row>
  </mat-toolbar>
</div>
<router-outlet></router-outlet>
